<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp-bot</title>
</head>
<body>
    
    <div class="container">

        <div class="content-center ">

            <div class="center" id="message.container.center">

            </div>
        </div>

        <div class="content-command ">
            <div class="add-command" id="comandAdd">
                <p>Añadir un nuevo Comando  <button class="btn-command">+</button></p>
            </div>

            <div class="command-register" id="command-register">
                <!-- <div class="command">
                    <p>Nombre</p>

                    <button>Borar</button>
                </div> -->
            </div>

        </div>

    </div>

    <script src="../script/view1.js"></script>
</body>
</html>
