<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style1.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR</title>
</head>
<body>

  <div class="contendor_loader" id="loader-content">
    <div class="loader" id="loader"></div>
  </div>
  
  <div class="container">

    <div class="qr-container">
      <div class="separador">
        <canvas id="canvas" style="margin: 10px;" ></canvas>
      </div>
    </div>

  </div>

    <script src="../script/view2.js"></script>
</body>
</html>
