<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./view3.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Comando</title>
</head>
<body>
    <div class="conatiner">
        <div class="command-container">
            <p>Al recibir:</p>
            <input id="inputR" type="text" placeholder="Al recibir...">
            <br>
            <p>Responder</p>
            <textarea name="" id="inputS" cols="30" rows="10"></textarea>
            <br>
            <button class="btnAccept" id="btn">Aceptar</button>
        </div>
    </div>

    <script src="../script/view3.js"></script>
</body>
</html>